.u-section-1 .u-sheet-1 {
  min-height: 704px;
}

.u-section-1 .u-image-1 {
  width: 43px;
  height: 170px;
  margin: -408px auto 0 -34px;
}

.u-section-1 .u-line-1 {
  width: 0px;
  height: 0px;
  transform-origin: right center 0px;
  margin: 752px auto 0 -140px;
}

.u-section-1 .u-text-1 {
  line-height: 1.3;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 3.75rem;
  animation-duration: 1000ms;
  margin: -367px 599px 0 38px;
}

.u-section-1 .u-text-2 {
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 1.3;
  background-image: none;
  margin: 11px 406px 0 38px;
}

.u-section-1 .u-image-2 {
  width: 461px;
  height: 692px;
  margin: -423px auto 0 642px;
}

.u-section-1 .u-group-1 {
  width: 134px;
  min-height: 220px;
  margin: -456px 11px 60px auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 0 0 62px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0 19px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0 20px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0 -23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 171px;
    margin-top: 10px;
    margin-left: -43px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 185px;
    margin-right: 403px;
    margin-left: 34px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 322px;
    margin-left: 25px;
  }

  .u-section-1 .u-image-2 {
    width: 403px;
    margin-top: -475px;
    margin-left: 512px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -464px;
    margin-right: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 238px;
    margin-right: 272px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 312px;
    margin-left: -10px;
  }

  .u-section-1 .u-image-2 {
    width: 366px;
    height: 569px;
    margin-top: -321px;
    margin-left: 364px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 201px;
    margin-right: 236px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 226px;
  }

  .u-section-1 .u-image-2 {
    width: 276px;
    height: 430px;
    margin-top: -234px;
    margin-left: 274px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-1 .u-text-1 {
    line-height: 31.2px;
    font-size: 6rem;
    margin-top: 4560px;
    margin-right: 6100px;
    margin-left: -5760px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 153px;
    margin-right: 144px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-2 {
    width: 209px;
    height: 278px;
    object-position: 100% 0%;
    margin-top: -220px;
    margin-right: -50px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 629px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 6px 434px 0;
}

.u-section-2 .u-line-1 {
  width: 293px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -27px auto 0 103px;
}

.u-section-2 .u-line-2 {
  width: 293px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -3px auto 0 744px;
}

.u-section-2 .u-image-1 {
  width: 205px;
  min-height: 368px;
  background-image: url("images/f68a29125346109.6116f2d084ed0.jpg");
  margin: 88px auto 0 134px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 205px;
  min-height: 368px;
  background-image: url("images/532eba107794507.5faee98c09451.jpg");
  background-position: 50% 50%;
  margin: -365px auto 0 468px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 205px;
  min-height: 368px;
  background-image: url("images/Web-Showcase-Project-Presentation2.png");
  background-position: 41.97% 50%;
  margin: -371px auto 0 801px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-4 {
  width: 200px;
  background-image: none;
  min-height: 38px;
  margin: 19px auto 0 136px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 25px;
  padding-right: 18px;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 9px 7px 0 0;
}

.u-section-2 .u-group-5 {
  width: 200px;
  background-image: none;
  min-height: 38px;
  margin: -38px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 25px;
  padding-right: 18px;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 8px 7px 0 0;
}

.u-section-2 .u-group-6 {
  width: 200px;
  background-image: none;
  min-height: 38px;
  animation-duration: 1000ms;
  margin: -38px 137px 60px auto;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 25px;
  padding-right: 18px;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 8px 7px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 334px;
    margin-right: 334px;
  }

  .u-section-2 .u-line-1 {
    width: 245px;
    margin-left: 52px;
  }

  .u-section-2 .u-line-2 {
    transform-origin: right center 0px;
    width: 245px;
    margin-right: 51px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 63px;
    margin-left: 77px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -368px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: -365px;
    margin-right: 77px;
    margin-left: auto;
  }

  .u-section-2 .u-group-4 {
    min-height: 37px;
    margin-top: 40px;
    margin-left: 79px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 143px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-5 {
    margin-top: -37px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
  }

  .u-section-2 .u-group-6 {
    margin-top: -39px;
    margin-right: 79px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 224px;
    margin-right: 224px;
  }

  .u-section-2 .u-line-1 {
    width: 190px;
    margin-left: 8px;
  }

  .u-section-2 .u-line-2 {
    width: 190px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-left: 27px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -368px;
    margin-right: 26px;
  }

  .u-section-2 .u-group-4 {
    min-height: 38px;
    margin-top: 31px;
    margin-left: 29px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-group-5 {
    margin-top: -38px;
    margin-left: 260px;
  }

  .u-section-2 .u-group-6 {
    margin-top: -38px;
    margin-right: 137px;
    margin-left: 491px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 134px;
    margin-right: 134px;
  }

  .u-section-2 .u-line-1 {
    width: 120px;
    margin-left: 0;
  }

  .u-section-2 .u-line-2 {
    width: 120px;
    margin-top: -4px;
  }

  .u-section-2 .u-image-1 {
    width: 140px;
    min-height: 251px;
    margin-left: 29px;
  }

  .u-section-2 .u-image-2 {
    width: 140px;
    min-height: 251px;
    margin-top: -251px;
  }

  .u-section-2 .u-image-3 {
    width: 140px;
    min-height: 252px;
    margin-top: -248px;
    margin-right: 29px;
  }

  .u-section-2 .u-group-4 {
    width: 141px;
    margin-top: 8px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-group-5 {
    width: 144px;
    margin-top: -36px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 0 0 0 5px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-right: 5px;
  }

  .u-section-2 .u-group-6 {
    width: 144px;
    margin-right: 25px;
    margin-bottom: 19px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 8px 10px 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 5px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2 .u-line-1 {
    width: 60px;
    margin-top: -21px;
  }

  .u-section-2 .u-line-2 {
    width: 60px;
    margin-top: -3px;
  }

  .u-section-2 .u-image-1 {
    width: 90px;
    min-height: 171px;
    background-position: 46.06% 50%;
    margin-top: 43px;
    margin-left: 17px;
  }

  .u-section-2 .u-image-2 {
    width: 90px;
    min-height: 171px;
    margin-top: -171px;
  }

  .u-section-2 .u-image-3 {
    background-position: 37.32% 47.52%;
    width: 90px;
    min-height: 171px;
    background-size: auto 130%;
    margin-top: -171px;
    margin-right: 17px;
  }

  .u-section-2 .u-group-4 {
    width: 90px;
    min-height: 50px;
    margin-top: 6px;
    margin-left: 17px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-text-2 {
    width: 80px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-5 {
    width: 90px;
    min-height: 50px;
    margin-top: -50px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 6px;
  }

  .u-section-2 .u-group-6 {
    width: 90px;
    min-height: 50px;
    margin-top: -51px;
    margin-right: 17px;
    margin-bottom: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1550px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 13px 313px 0;
}

.u-section-3 .u-line-1 {
  width: 180px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -27px auto 0 103px;
}

.u-section-3 .u-line-2 {
  width: 180px;
  height: 3px;
  transform-origin: right center 0px;
  margin: -3px auto 0 857px;
}

.u-section-3 .u-text-2 {
  font-weight: 600;
  font-size: 1.5rem;
  width: 724px;
  margin: 40px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 170px 635px 0 103px;
}

.u-section-3 .u-text-4 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 184px 131px 0 607px;
}

.u-section-3 .u-image-1 {
  width: 551px;
  min-height: 498px;
  background-image: url("images/rufus-3.14.exe1.png");
  background-position: 50% 50%;
  margin: -756px 48px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 0 15px;
}

.u-section-3 .u-image-2 {
  width: 551px;
  min-height: 413px;
  background-image: url("images/14631.png");
  background-position: 50% 50%;
  margin: -65px auto 0 19px;
}

.u-section-3 .u-container-layout-2 {
  padding: 13px 30px 15px;
}

.u-section-3 .u-image-3 {
  width: 551px;
  min-height: 413px;
  background-image: url("images/rufus-3.14.exe1.png");
  background-position: 50% 50%;
  margin: -9px 48px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 13px 30px 15px;
}

.u-section-3 .u-text-5 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: -307px 655px 60px 83px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1579px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 213px;
    margin-left: 213px;
  }

  .u-section-3 .u-line-1 {
    margin-left: 0;
  }

  .u-section-3 .u-line-2 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 88px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 535px;
    margin-left: 3px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 31px;
    margin-left: 507px;
  }

  .u-section-3 .u-image-1 {
    width: 535px;
    min-height: 413px;
    margin-top: -724px;
    margin-right: 20px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 3px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 527px;
    margin-top: 0;
    margin-right: 24px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -317px;
    margin-right: 491px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 103px;
    margin-left: 103px;
  }

  .u-section-3 .u-line-1 {
    width: 90px;
  }

  .u-section-3 .u-line-2 {
    width: 90px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 140px;
    margin-right: 337px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 137px;
    margin-right: 13px;
    margin-left: 305px;
  }

  .u-section-3 .u-image-1 {
    width: 396px;
    min-height: 306px;
    background-position: 37.56% 50%;
    margin-top: -613px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 438px;
    min-height: 328px;
    margin-top: 62px;
    margin-left: -70px;
  }

  .u-section-3 .u-image-3 {
    width: 382px;
    min-height: 286px;
    margin-top: 29px;
    margin-right: -22px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -227px;
    margin-right: 299px;
    margin-bottom: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1627px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-line-1 {
    width: 69px;
    margin-top: -21px;
  }

  .u-section-3 .u-line-2 {
    width: 70px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 281px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 299px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -934px;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 126px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 156px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin: 0 26px 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1420px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    margin-top: -40px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 51px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: 247px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    margin-top: 228px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-image-1 {
    min-height: 228px;
    width: 294px;
    margin-top: -730px;
  }

  .u-section-3 .u-image-2 {
    min-height: 241px;
    width: 320px;
    margin-top: 111px;
  }

  .u-section-3 .u-image-3 {
    min-height: 269px;
    width: 320px;
    margin-top: 138px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 550px;
}

.u-section-4 .u-image-1 {
  width: 474px;
  height: 500px;
  margin: 0 auto;
}

.u-section-4 .u-image-2 {
  width: 333px;
  height: 500px;
  margin: -500px auto 0 0;
}

.u-section-4 .u-image-3 {
  width: 332px;
  height: 500px;
  margin: -500px 0 50px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-left: 202px;
  }

  .u-section-4 .u-image-2 {
    width: 312px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    width: 274px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-4 .u-image-1 {
    width: 309px;
    height: 295px;
    margin-right: 190px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    width: 221px;
    height: 295px;
    margin-top: -295px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    width: 190px;
    height: 295px;
    margin: -295px 0 36px auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-4 .u-image-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-right: 10px;
    margin-bottom: 60px;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    margin: 0 auto 60px 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: 20px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 366px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 526px;
  margin: 0 auto;
}

.u-section-5 .u-line-1 {
  width: 293px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -21px 0 0 auto;
}

.u-section-5 .u-line-2 {
  width: 293px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 5px auto 0 0;
}

.u-section-5 .u-image-1 {
  width: 38px;
  height: 38px;
  margin: 87px auto 0 632px;
}

.u-section-5 .u-image-2 {
  width: 38px;
  height: 38px;
  margin: 54px auto 0 632px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: -124px 548px 0 52px;
}

.u-section-5 .u-line-3 {
  width: 407px;
  height: 3px;
  transform-origin: right center 0px;
  margin: -87px auto 0 681px;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: -31px 286px 0 681px;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 64px 286px 0 681px;
}

.u-section-5 .u-line-4 {
  width: 407px;
  height: 3px;
  transform-origin: right center 0px;
  margin: -3px auto 60px 681px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-5 .u-line-1 {
    width: 182px;
  }

  .u-section-5 .u-line-2 {
    width: 182px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 161px;
    margin-left: 469px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 56px;
    margin-left: 469px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -200px;
    margin-right: 549px;
    margin-left: 22px;
  }

  .u-section-5 .u-line-3 {
    width: 389px;
    transform-origin: left center 0px;
    margin-left: 530px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 211px;
    margin-left: 523px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: 206px;
    margin-left: 523px;
  }

  .u-section-5 .u-line-4 {
    width: 389px;
    transform-origin: left center 0px;
    margin-left: 530px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-5 .u-line-1 {
    width: 85px;
  }

  .u-section-5 .u-line-2 {
    width: 85px;
  }

  .u-section-5 .u-image-1 {
    width: 50px;
    height: 50px;
    margin-top: 76px;
    margin-left: 299px;
  }

  .u-section-5 .u-image-2 {
    width: 50px;
    height: 50px;
    margin-top: 47px;
    margin-left: 299px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -136px;
    margin-right: 433px;
    margin-left: 11px;
  }

  .u-section-5 .u-line-3 {
    width: 339px;
    transform-origin: right center 0px;
    margin-top: -127px;
    margin-left: 370px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 77px;
    margin-left: 436px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 74px;
    margin-left: 434px;
  }

  .u-section-5 .u-line-4 {
    width: 339px;
    transform-origin: right center 0px;
    margin-left: 370px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: 351px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 71px;
    margin-left: 62px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 49px;
    margin-left: 62px;
  }

  .u-section-5 .u-text-2 {
    width: 361px;
    margin-top: 23px;
    margin-right: 62px;
    margin-left: 117px;
  }

  .u-section-5 .u-line-3 {
    margin-top: -261px;
    margin-left: 122px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 131px;
    margin-left: 139px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 71px;
    margin-right: 145px;
    margin-left: 139px;
  }

  .u-section-5 .u-line-4 {
    margin-top: -1px;
    margin-left: 122px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: 23px;
    margin-left: 20px;
  }

  .u-section-5 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -2px;
    margin-right: 28px;
    margin-left: 28px;
  }

  .u-section-5 .u-line-3 {
    width: 234px;
    margin-top: -248px;
    margin-left: 86px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 28px;
    margin-left: 105px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 23px;
    margin-left: 105px;
  }

  .u-section-5 .u-line-4 {
    width: 234px;
    margin-left: 86px;
  }
} .social {
transform: rotate(-90deg);
}
